@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700,900);


@import url(null.css);

body{
    font-family: 'open sans', sans-serif;
    color: #000;
}

.container {
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
    overflow: hidden;
    
}



/* ========================== */
.header__wrapper {
}
.header__container {
}
.header__top {
    
}
.header-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #eeecec;
    z-index: 50;
    
}
.header-top__wrapper{
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;

}
.header-top__row {

    padding: 72px 0px 25px 0px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #c1c3c3;
    background-color: inherit;
    max-width: 100%;

}
@media (max-width: 767px) {
    .header-top__row {
        padding: 25px 0px;
        justify-content: right;
        gap: 15px;
    }
}
.header-top__search>img {
    width: 25px;
    height: 25px;
}
.header-top__logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
@media (max-width: 767px) {
    .header-top__logo {
        position: absolute;
        left: 0;
        transform: translate(0);
    }
   
}
.header-top__account {
}
.header-top-account {
    display: flex;
    align-items: center;
    gap: 22px;
}
@media (max-width: 767px) {
  
    .header-top-account {
        gap: 15px;
    }
}
.header-top-account__account {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #1e2832;
    font-size: 18px;
}
.header-top-account__shoping {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #1e2832;
    font-size: 18px;

}
@media (max-width: 767px) {
    .header-top-account__shoping a {
        display: none;
    }
    .header-top-account__account a {
        display: none;
    }
    .header-top__logo img {
        max-width: 150px;
    }
}
.header__search {
    margin-top: 161px;
}
.header-nav {
}
.header-nav__list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
}
@media (max-width: 1200px) {
    .header-nav__list {
        justify-content: center;
    }
}
@media (max-width: 767px) {
    .header-nav__list {
        display: none;
    }
}
.header-nav__item {
}
.header-nav__link {
    white-space: nowrap;
    line-height: 24px;
}

/* ================================== */

.top {
}
.top__wrapper {
    margin-top: -185px;
    width: 100%;
    height: 100vh;
    background-color: #eeecec;
    background-image: url(../img/section-top/flower-pattern.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 40%;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
}
.top__container {
    padding-top: 225px;
    font-family: "Roboto",sans-serif;
}
@media (max-width: 767px) {
    .top__container {
        padding-top: 140px;
    }
}
.container {
}
.top__row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
@media (max-width: 767px) {
    .top__row {
        flex-direction: column;
        align-items: center;
    }
}
.top__info {
}
.top-info {
    padding-top: 74px;
    max-width: 682px ;
    padding-right: 15px;
}
@media (max-width: 767px) {
    .top-info {
        padding-top: 0px;
        max-width: 682px ;
        padding-right: 0px;
        text-align: center;
    }
}
.top-info__title {
    text-transform: capitalize;
    /* font-size: 74px; */
    line-height: 55px;
    margin-bottom: 52px;
    font-weight: 300;
    font-size: calc(34px + 40 * ((100vw - 320px) / (1350 - 320)));
}
.top-info__info-text {
    text-transform: capitalize;
    /* font-size: 30px; */
    font-size: calc(16px + 14 * ((100vw - 320px) / (1350 - 320)));
    line-height: 55px;
    margin-bottom: 66px;
}
.top-info__button {
    color: #fff;
    font-size: 29px;

    text-transform: capitalize;
    padding: 19px 26px;
    background-color: #1e2832;
    white-space: nowrap;
}
@media (max-width: 767px) {
    .top-info__button {
        margin-bottom: 50px;
    }
}
.top-info__button>img {
    margin-right: 8px;
}
.top__image {
    min-width: 366px;
    border-radius: 160px 0;
    box-shadow: inset 0 0 0 2px  hsl(0deg 0% 0% / 25%);
    position: relative;
    z-index: 1;
}

.top__image>img {
     margin: -18px 18px 18px -18px;
    width: 100%;
    height: 100%;
}
@media (max-width: 767px) {
    .top__image {
        min-width: 270px;
        margin-left: 18px;
    }
}
/* ======================================== */