@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700,900);


@import url(null.css);

body{
    font-family: 'open sans', sans-serif;
}

[class*="__container"] {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper{
    min-height: 100%;
    overflow: clip ;
}
/* ========================== */
.header__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #eeecec;
    z-index: 50;
}
.header__container {
    padding-top: 30px;
    padding-bottom: 10px;
}
.header__top {
}
.header-top {
    
}
.header-top__wrapper{


}
.header__row-column{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.header-top__row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 1092px) {
    .header__container {
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .header__row-column{
        gap: 20px;
        padding-bottom: 0px;
    }

}
@media (max-width: 767px) {
    .header__container {
        padding-top: 30px;
        padding-bottom: 0;
    }
    .header-top__row {
        padding: 25px 0px;
        justify-content: right;
        gap: 20px;
    }
    .header__row-column{
        gap: 0;
    }
    .header__container {
        padding-top: 0;
    }
}
.header-top__search>input {
    background-image: url(../img/header/search.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
}
.header-top__logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
@media (max-width: 767px) {
    .header-top__logo {
        position: absolute;
        left: 0;
        transform: translate(0);
    }
    .header-top__logo img {
        max-width: 120px;
    }
   
}
.header-top__account {
    gap: 22px;
    display: flex;
    align-items: center;
    color: #1e2832;
    font-size: 18px;
}
.header-top-account {
}

.header-top-account__account {
}
.header-top-account__account a::before,
.header-top-account__shoping a::before {
    content: '';
    background-image: url(../img/header/icon-account.svg);
    width: 25px;
    height: 25px;
    vertical-align: sub;
    margin-right: 10px;
}
.header-top-account__shoping a::before {
    background-image: url(../img/header/icon-shopping.svg);
}
.header-top-account__shoping {
}
.header__border-line{
width: 100%;
height: 2px;
background-color: #c1c3c3;
}
.header-nav {
}
.header-nav__list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    
}
@media (max-width: 1200px) {
    .header-nav__list {
        justify-content: space-between;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
        gap: 0;
        
    }
}
@media (max-width: 767px) {
    .header-top-account__account a::before,
    .header-top-account__shoping a::before {
        margin-right: 0;
    }
    .header__header-nav{
        height: 0;
        transform: translateY(-500px);
    }
    .header-top__account {
        gap: 20px;
        color: #1e2832;
        font-size: 0;
    }
    .active.header__header-nav {
        transform: translateY(0);
        transition: all 0.7s;
        height: inherit;
        display: block;
    }
    .active.header__nav-wrapper{
    position: fixed;
    top: 0;bottom: 0;left: 0;right: 0;
    background-color: #c1c3c3;
    z-index: 100;
    }
    .active.header-nav__list {
        flex-direction: column;
        font-size: 30px;
        gap: 20px;
        padding-top: 80px;
    }
}
.header-nav__item {
}
.header-nav__link {
    white-space: nowrap;
    line-height: 40px;
}
.header__burger {
    width: 40px;
    height: 30px;
    display: none;
    position: relative;
}
.header-burger {
}
.header-burger__border {
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.7s;
    position: absolute;
}
.header-burger__border:nth-child(1) {
    bottom: 0;
}
.header-burger__border:nth-child(2) {
    top: 50%;
    transform: translatey(-50%);
}
.header-burger__border:nth-child(3) {
    top: 0;
}
@media (max-width: 767px) {
    .header__burger {
        display: block;
        position: relative;
        z-index: 101;
    }

}
.active.header-burger .header-burger__border:nth-child(3){
    top: 50%;
    transform: rotate(-45deg);
}
.active.header-burger .header-burger__border:nth-child(2) {
    transform: translateX(-2000%);
}
.active.header-burger .header-burger__border:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}
/* ================================== */

.top {
}
.top__wrapper {
    width: 100%;
    background-color: #eeecec;
    background-image: url(../img/section-top/flower-pattern.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 40%;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
}
.top__container {
    padding-top: 225px;
    padding-bottom: 80px;
    font-family: "Roboto",sans-serif;
}
@media (max-width: 767px) {
    .top__container {
        padding-top: 140px;
    }
    .top__wrapper {
        height: fit-content;
        padding-bottom: 20px;

    }
}
.top__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
@media (max-width: 767px) {
    .top__row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
.top__info {
    padding-top: 74px;
    max-width: 697px ;
    padding-right: 15px;
    margin-bottom: 50px;
}
.top-info {
}
@media (max-width: 767px) {
    .top__info {
        padding-top: 0px;
        padding-right: 0px;
    }
}
.top-info__title {
    text-transform: capitalize;
    /* font-size: 74px; */
    line-height: 55px;
    margin-bottom: 52px;
    font-weight: 300;
    font-size: calc(34px + 40 * ((100vw - 320px) / (1350 - 320)));
}
.top-info__info-text {
    text-transform: capitalize;
    font-size: 30px;
    line-height: 55px;
    margin-bottom: 66px;
}
.top-info__button {
    color: #fff;
    font-size: 29px;
    text-transform: capitalize;
    padding: 19px 26px;
    background-color: #1e2832;
}
    @media (max-width: 460px) {
    .top-info__button {
        width: 100%;
    }
    }

.top-info__button>img {
    margin-right: 8px;
}
.top__image {
    max-width: 424px;
    min-width: 366px;
    border-radius: 36% 0;
    box-shadow: inset 0 0 0 2px  hsl(0deg 0% 0% / 25%);
    position: relative;
    z-index: 1;
}

.top__image>img {
     margin: -18px 18px 18px -18px;
    width: 100%;
    height: 100%;
}
@media (max-width: 767px) {
    .top__image {
        max-width: 270px;
        margin-left: 18px;
        min-width: 100px;

    }
}
/* ======================================== */
.brands {
}
.brands__container {
    padding-top: 90px;
    padding-bottom: 90px;
}
@media (max-width: 1450px) {
    .brands__container {
        padding-bottom: 150px;
    }

}
.brands__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.brands__wrapper {
    max-width: 200px;
}
.brands__wrapper>img {
    object-fit: contain;
}
@media (max-width: 1050px) {
    .brands__row {
        margin: 0 auto;
        max-width: 767px;
        justify-content: space-around;
        gap: 15px;
    }
}
/* =================== */
.popular-styles {
}
.popular-styles__container {
    padding-bottom: 140px;
}
.popular-styles__row {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    position: relative;
}
.popular-styles__info {
    min-width: 49%;
}
.info-popular-styles {
}
.info-popular-styles__image {
    flex: 1 1 648px;
}
.info-popular-styles__title {
    transform: rotate(-90deg);
    white-space: nowrap;
    font-size: 34px;
    text-transform: uppercase; 
     position: absolute;
    left: -25%;
    top: 47%;
}
@media (max-width: 1450px) {
    .info-popular-styles__title {
    color: black;
    transform: rotate(0deg);
    left: 50%;
    top: -15%;
    transform: translateX(-50%);
    font-weight: 600;
    }
}
@media (max-width: 767px) {
    .info-popular-styles__title {
    top: -8%;
    white-space: wrap;
    text-align: center;
    font-size: 24px;
    }
}
@media (max-width: 480px) {
    .info-popular-styles__title {
    top: -15%;
}
}
.info-popular-styles__image>img {
    min-height: 100%;
    width: 100%;
}
.popular-styles__cart {
    display: grid;
    grid-gap: 24px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.cart-popular-styles {
}
.cart-popular-styles__image {
    position: relative;
    /* flex: 1 1 312px; */
}
.cart-popular-styles__image>img {
    width: 100%;
}
@media (max-width: 767px) {
    .popular-styles__row {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.cart-popular-styles__image:nth-child(2)::before{
 content: '';
 width: 52px;
 height: 24px;
 background-image: url(../img/popular-styles/sale.svg);
 background-repeat: no-repeat;
 background-size: contain;
 position: absolute;
 top: 22px;
 left: 0;
}
/* =============================== */